* {
    box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background: #D8D8D8;
}

/*ol, li {
    list-style: none;
}*/

.fa {
    width: 1em;
    text-align: center;
}


/*********************** NAVIGACIJA **********************************/

.navbar, .navbackground {
    background: #26272b;
}

.navbar {
    margin-bottom: 0;
}


/*.navbar-nav li:hover {
    color: rgba(255, 255, 255, 0.8);
}*/

.logincolor, p {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-nav li a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse {
    border: none;
}

.dropdown-menu {
    background: #1C1C1C;
}


/*background: #1C1C1C;*/

.dropdown-menu .divider {
    background-color: grey;
}

.dropdown-menu>li>a {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-menu {
    padding: 5px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: rgba(38, 39, 43, 1);
    color: rgba(255, 255, 255, 0.8);
}

.searchbg {
    background: #BDBDBD;
    height: 34px;
}

.form-control {
    background: #D8D8D8;
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    /*background-color:rgba(255,255,255,.8);*/
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    /*background-color:rgba(255,255,255,.8);*/
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        /*background-color: inherit;*/
        color: #fff;
    }
    #login-dp .bottom {
        /*background-color: inherit;*/
        border-top: 0 none;
    }
    .logo img{
        display: none;
    }
    .pull-right{
        text-align: center;
    }
}


/*********************** NAVIGACIJA  END **********************************/


/*********************** LOGO **********************************/

.logo {
    padding: 25px 0 25px 0;
    background: rgba(51, 54, 59, 1);
}

.logo img {
    width: 100%;
    /*margin: 50px;*/
}


/*********************** LOGO  END **********************************/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.social-links {
    /*float: right;*/

}

.social-links li {
    display:inline-block;
    margin-left: 8px;
    line-height: 16px;
}

.social-links .social-tooltip:hover {
    color: #fff!important;
    text-decoration: none;
}

.social-links{
    padding-left: 0px;
}

.social-links .social-tooltip {
    color: #fff;
    color: rgba(255,255,255,.7);
    font-size: 24px;
    display: inline;

}

.social-links li a {
    display: block!important;


}

a, a:after, a:before {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}




/*********************** MAIN **********************************/

.main {
    background: white;
    padding: 20px;
    box-shadow: 0 0 30px black;
    margin-bottom: 50px;
}

.main p {
    color: black;
}

.newimg {
    border-top: 1px solid #eee;
    margin-top: 30px;
}

.newimg img {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.naujiena{
    padding: 20px;
}

.naujiena img{
    padding: 10px;
    display: block;
    margin: 0 auto;
}
